.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  height: 40px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  a{
    vertical-align: middle;
  }
}
.header img {
  height: 40px;
}

